


:host {
  display: flex;
  justify-content: center;
  
}
.login-form {
  max-width: 500px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

[nz-form] {
  max-width: 800px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}
/* 
.login-container {
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-card {
    width: 300px;
  }
  
  mat-card-title {
    font-size: 24px;
  } */
  

  :host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }