
<!-- <div id="player">
    <video id="video" autoplay="true" controls="controls">
        <source src="https://71.80.92.195:443/" />
        Your browser does not support HTML5 streaming!
    </video>
</div> -->
<div style="padding: 1em;display: flex;justify-content: flex-end;">
    <button nz-button nzType="primary" [routerLink]="'/main/customer/register'">
        <span>Add</span>
      </button>
</div>
<div>
    <h2 nz-typography>Customers</h2>
</div>
<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzCustomFilter>
          Business Name
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <span nz-icon nzType="search"></span>
          </nz-filter-trigger>
        </th>
        <th>Email</th>
        <th>Address</th>
        <th>No Of Stores</th>
        <th>Total Cameras</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.businessName }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.address }}</td>
        <td>{{data.customerStores.length}}</td>
        <td>{{data.camerasCount}}</td>
        <td style="    display: flex;
        justify-content: space-evenly;">
            <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (click)="edit(data.email)">Edit</a>
            <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="edit(data.id)">Delete</a>
          </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>