<mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
  
        <a mat-list-item [routerLink]="'/accounts'"> Create Taks </a>
        <a mat-list-item [routerLink]="'/create-account'"> Create Evaluation Template </a>
        <a mat-list-item [routerLink]="'/create-account'"> Annotator Management </a>
        <a mat-list-item [routerLink]="'/create-account'"> Task Trakcing </a>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>